<h1>admin view</h1>

<% if (@dumpster_posts.length == 0)%>
  <h4> No posts in the dumpster...</h4>
<% else %>
  <% @dumpster_posts.each do |post| %>
    <div class="card-body bg-light" style="max-width: 30px;">
      <h1><%= post.title %></h1>
    </div>
  <% end %>
<% end %>

<% if (@blacklist.length == 0)%>
  <h4> No users in the blacklist...</h4>
<% else %>
  <% @blacklist.each do |user| %>
    <div class="card-body bg-light" style="max-width: 30px;">
      <h1><%= user.email %></h1>
    </div>
  <% end %>
<% end %>

<% @all_user.each do |user| %>

<% end %>