<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>

</div>

<script>
    function initMap() {
        <%geo = Geofence.where("post_id = ?", params[:id]).first %>
        <%lat = geo.latitude %>
        <%lng = geo.longitude %>
        var myCoords = new google.maps.LatLng(<%=lat %>, <%=lng %>);
        var mapOptions = {
            center: myCoords,
            zoom: 14
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var marker = new google.maps.Marker({
            position: myCoords,
            animation: google.maps.Animation.DROP,
            map: map,
            draggable: true
        });
    }

</script>
<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_AvqTAYSLAaa0Xd3FzNTfWG03cQWRpN4&callback=initMap">
</script>
