<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">

  <style>
    .fakeimg {
      height: 180px;
      width: 200px;
      background: #aaa;
    }
  </style>

</head>
<body>
<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h6>Home</h6>
        <div class="card-body bg-light">
          <div class="form-group">
            <label for="ttle">Title:</label>
            <input type="text" class="form-control" id="ttle">
            <label for="comment">Comment: </label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="public">Public
              </label>

            </div>
            <div class="form-check-inline">
              <input type="file" class="form-control-file border">
            </div>
            <div class="form-check-inline">
              <button class="btn btn-success" style="margin-left: 215px" type="submit">Post</button>
            </div>
          </div>
        </div>

        <br>
        <div class="card-header">
          <h6 style="text-align: right">Date</h6>
          <div>
            <button class="btn btn-link" style="float: right">location</button>
            <h5>User1</h5>
          </div>
        </div>
        <div class="card-body bg-light">
        <h2>TITLE HEADING</h2>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <div class="fakeimg">Fake Image</div>
          <div style="margin-top: 15px" >
            <button class="btn btn-info">Like</button>
            <button class="btn btn-info">DisLike</button>
            <button class="btn btn-info">Report</button>
            <button class="btn btn-info">Share</button>
            <button class="btn btn-info">Follow</button>
          </div>
          <div class="input-group " style="margin-top:30px">
            <input type="text" class="form-control" placeholder="Comment">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">comment</button>
            </div>
          </div>
          <div class=" card card-body " style="margin-top:10px">
            <h5>Sarah Dowd:</h5>Comment of Sarah
          </div>
        </div>

        <br>





      </div>
     </div>
</div>


</body>
</html>
